.navbar-brand {
  font-family: "Tangerine";
  font-size: 30px;
  color: deeppink;
}
.nav-link {
  color: deeppink;
}
.nav-link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 991px) {
  .navbar-brand {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: center;
  }
}
